<p style="font-size: 30pt; margin-left: 15%; margin-top: 35px; font-style: italic; font-family: serif;">REPORTE Y EVALUACIÓN DE LA SUSTENTABILIDAD</p>

<%= render 'form', formulario: @formulario %>

<%= link_to 'Back', formularios_path %>
