<fieldset>
  <label class="control-label "> Nombre : </label>
  <%= f.text_field :nombre , class:'form-control', placeholder:' Ej: Si, No, Otra Opción' %>

  <label class="control-label "> Puntaje : </label>

  <%= f.text_field :puntaje , class:'form-control', placeholder:' Ej: 0.8', :disabled=>true %>

</br></br>

</fieldset>
